@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --main: rgb(236, 240, 243);
  --secondary: rgb(130, 71, 207);
  --hover: rgb(255, 117, 129);
  --blue: rgb(86, 81, 231);
  --white_text: rgb(255, 255, 255);
  --dark_text: rgb(107, 114, 128);
  --border: rgb(209, 213, 219);
}
/* -----------------------LANDING PAGE------------------------- */
.LandingPage-component {
  display: flex;
  flex-direction: column;
}
.LandingPage-component p {
  text-align: center;
}
.main-container {
  display: flex;
  height: 97vh;
}
.left-container {
  background-color: var(--blue);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-container {
  width: 50%;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-container p {
  text-decoration: none;
  color: var(--dark_text);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.right-container h2 {
  text-decoration: none;
  color: var(--dark_text);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.join-link {
  text-decoration: none;
  color: var(--dark_text);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.join-link p {
  margin-top: 4%;
  color: var(--blue);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.right-container .join-link :hover {
  color: var(--hover);
  transition: 0.3s ease-in-out;
  border-bottom: 2px solid var(--hover);
}
.content .title {
  color: var(--white_text);
  font-size: 3rem;
  font-weight: 600;
  font-family: "Caveat Brush", cursive;
  text-align: center;
  margin: 0 0 2% 0;
}

/* -------------------------------SIGNUP PAGE--------------------------- */
.signup-page {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.signup-form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
.input-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.input-container label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark_text);
  font-family: "Inter Tight", sans-serif;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}
.input-container input {
  background-color: #fff;
  width: 80%;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0 0 0;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
}
.logo-container {
  margin: 0 0 5% 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container h3 {
  color: var(--dark_text);
  font-family: "Inter Tight", sans-serif;
}
.button-link button {
  background-color: var(--blue);
  color: var(--white_text);
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}
.button-link button:hover {
  background-color: var(--hover);
  transition: 0.3s ease-in-out;
}
.signup-logo {
  width: 200px;
}
.signup-link {
  margin: 1rem 0;
}
.signup-link p {
  color: var(--dark_text);
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.signup-link a {
  text-decoration: none;
  color: var(--blue);
}
.signup-link a:hover {
  color: var(--hover);
  transition: 0.3s ease-in-out;
}
.eye-icon {
  position: absolute;
  top: 0;
}
.password-input {
  position: relative;
}

/* -------------------------------LOGIN PAGE--------------------------- */
.login-page {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
.login-button button {
  background-color: var(--blue);
  color: var(--white_text);
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}
.login-button button:hover {
  background-color: var(--hover);
  transition: 0.3s ease-in-out;
}
.login-logo {
  width: 200px;
}
.login-link {
  margin: 1rem 0;
}
.login-link p {
  color: var(--dark_text);
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.login-link a {
  text-decoration: none;
  color: var(--blue);
}
.login-link a:hover {
  color: var(--hover);
  transition: 0.3s ease-in-out;
}

/* -----------------------------PROFILE PAGE---------------------- */
.profile-page {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.profile-form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
.profile-form label {
  width: 75%;
  display: flex;
  flex-direction: column;
}
/* -------------------------HOME----------------------- */
.Home-component {
  background-color: var(--white_text);
  height: 100vh;
  display: grid;
  grid-template-areas:
    "side feed extra"
    "side feed extra";
  /* edit the size of the areas */
  grid-template-columns: 0.2fr 1fr 0.5fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 2fr);
  scroll-behavior: smooth;
}
.Sidemenu-component {
  background-color: red;
  opacity: 0.1;
  grid-area: side;
}
.Feed-component {
  grid-area: feed;
}
.Extra-component {
  background-color: red;
  grid-area: extra;
  opacity: 0.1;
}
/* -----------------------FEED----------------------- */
.Feed-component {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  overflow: hidden;
  overflow-y: scroll;
}
.Feed-component::-webkit-scrollbar {
  display: none;
}
/* --------------------------CREATE POST----------------------------- */
.createpost-component {
  padding: 1rem 0.5rem;
  position: sticky;
  top: 0;
  border: 1px solid var(--border);
  z-index: 3;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.createpost-form {
}
.createpost-inputbox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.createpost-textarea {
  margin: 0.5rem 0.5rem 0 0.5rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: 20px;
  padding: 10px;
}
.createpost-btn {
  background-color: var(--blue);
  opacity: 0.7;
  color: var(--white_text);
  padding: 1px 1px;
  border-radius: 0.3rem;
  font-family: "Inter Tight", sans-serif;
  border: none;
  cursor: pointer;
}
.createpost-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* ---------------------SINGLE POST---------------------------- */
.post-container {
  background-color: var(--white_text);
  width: 90%;
  height: fit-content;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.post-header {
  display: flex;
  justify-content: flex-start;
}
.avatar {
  margin-right: 1rem;
}
.user-details p {
  font-family: "Inter Tight", sans-serif;
}
.post-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.post-body p {
  font-family: "Lunasima", sans-serif;
}
.post-photo {
  width: 60%;
  height: 60%;
  margin: 1rem 0;
  object-fit: cover;
  object-position: center;
}
