@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lunasima&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}
:root {
  --main: rgb(236, 240, 243);
  --secondary: rgb(130, 71, 207);
  --hover: rgb(255, 117, 129);
  --blue: rgb(25, 118, 210);
  --white_text: rgb(255, 255, 255);
  --dark_text: rgb(107, 114, 128);
  --border: rgb(209, 213, 219);
  --black: rgb(12, 12, 12);
  --faded-aqua: rgb(229, 238, 238);
  --hover-faded-aqua: rgb(209, 213, 219);
}
/* -----------------------LANDING PAGE------------------------- */
.LandingPage-component {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.LandingPage-component p {
  text-align: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  grid-column: 1/2;
  height: 100vh;
}
.left-container {
  background-color: var(--blue);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}
.title {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title p {
  text-decoration: none;
  color: var(--white_text);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.title h2 {
  text-decoration: none;
  color: var(--white_text);
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}

.content .app-name {
  color: var(--white_text);
  font-size: 3rem;
  font-weight: 600;
  font-family: "Caveat Brush", cursive;
  text-align: center;
  margin: 0 0 2% 0;
}
.Tabs {
  width: 100%;
  grid-column: 2/3;
}
.nav {
  text-align: center;
  position: absolute;
  top: 6rem;
  right: 20rem;
  list-style-type: none;
  display: flex;
  background-color: var(--blue);
  padding: 1rem 2rem;
  color: white;
}
.nav li {
  margin: 0 1rem;
}

/* -------------------------------SIGNUP PAGE--------------------------- */
.signup-page {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.signup-form {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
.input-container {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.input-container label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark_text);
  font-family: "Inter Tight", sans-serif;
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}
.input-container input {
  background-color: #fff;
  width: 80%;
  padding: 0.5rem 0.5rem;
  margin: 1rem 0 0 0;
  border: 1px solid var(--border);
  border-radius: 0.3rem;
  font-size: 1rem;
}
.logo-container {
  margin: 0 0 5% 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container h3 {
  color: var(--dark_text);
  font-family: "Inter Tight", sans-serif;
}
.button-link button {
  background-color: var(--blue);
  color: var(--white_text);
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}
.button-link button:hover {
  background-color: var(--hover);
  transition: 0.3s ease-in-out;
  box-shadow: 0 5px 15px var(--hover);
}
.signup-logo {
  width: 200px;
}
.signup-link {
  margin: 1rem 0;
}
.signup-link p {
  color: var(--dark_text);
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.signup-link a {
  text-decoration: none;
  color: var(--blue);
}
.signup-link a:hover {
  color: var(--hover);
  transition: 0.3s ease-in-out;
}
.eye-icon {
  position: absolute;
  top: 0;
}
.password-input {
  position: relative;
}

/* -------------------------------LOGIN PAGE--------------------------- */
.login-page {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-form {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
.login-button button {
  background-color: var(--blue);
  color: var(--white_text);
  padding: 0.3rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  border: none;
  cursor: pointer;
  margin: 1rem 0;
}
.login-button button:hover {
  background-color: var(--hover);
  transition: 0.3s ease-in-out;
  box-shadow: 0 5px 15px var(--hover);
}

.login-logo {
  width: 200px;
}
.login-link {
  margin: 1rem 0;
}
.login-link p {
  color: var(--dark_text);
  font-size: 1rem;
  line-height: 2rem;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
}
.login-link a {
  text-decoration: none;
  color: var(--blue);
}
.login-link a:hover {
  color: var(--hover);
  transition: 0.3s ease-in-out;
}

/* -----------------------------PROFILE PAGE---------------------- */
.profile-page {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.profile-form {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
}
.profile-form label {
  width: 75%;
  display: flex;
  flex-direction: column;
}
/* -------------------------HOME----------------------- */
.Home-component {
  background-color: var(--white_text);
  height: 100vh;
  display: grid;
  grid-template-areas:
    "side feed extra"
    "side feed extra";
  /* edit the size of the areas */
  grid-template-columns: 0.3fr 1fr 0.5fr;
  grid-template-rows: minmax(0, 1fr) minmax(0, 2fr);
  scroll-behavior: smooth;
}
.Sidemenu-component {
  grid-area: side;
}
.Feed-component {
  grid-area: feed;
}
.Extra-component {
  grid-area: extra;
}
/* -----------------------FEED----------------------- */
.Feed-component {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  overflow-y: scroll;
}
.Feed-component::-webkit-scrollbar {
  display: none;
}
/* --------------------------CREATE POST----------------------------- */
.createpost-component {
  padding: 1rem 0.5rem;
  position: sticky;
  top: 0;
  border: 1px solid var(--blue);
  z-index: 9999;
  -webkit-backdrop-filter: blur(100px);
  -o-backdrop-filter: blur(100px);
  -moz-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}
.createpost-inputbox {
  background-color: yellow;
}
.createpost-inputbox {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createpost-textarea {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-size: 1rem;
  padding: 1rem 2rem;
  font-family: "Inter Tight", sans-serif;
}
.createpost-textarea:focus {
  box-shadow: 0 0 0 2px var(--blue);
}
.createpost-textarea::-webkit-scrollbar {
  display: none;
}
#createpost-title {
  font-size: 1.5rem;
  font-family: "Inter Tight", sans-serif;
  margin-bottom: 1rem;
  text-align: start;
}
.createpost-btn {
  background-color: var(--blue);
  opacity: 0.7;
  color: var(--white_text);
  padding: 1px 1px;
  border-radius: 0.3rem;
  font-family: "Inter Tight", sans-serif;
  border: none;
  cursor: pointer;
}
.createpost-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.createpost-buttons {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.createpost-buttons > * {
  margin: 0 0.5rem;
}
.upload-icon {
  cursor: pointer;
}
.media-preview {
}
.media-preview img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  object-position: center;
}
/* ---------------------SINGLE POST---------------------------- */
.post-container {
  background-color: var(--white_text);
  width: 95%;
  height: fit-content;
  margin: 0 auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  cursor: pointer;
  display: flex;
  border-top: 1px solid var(--blue);
  border-left: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
}
.post-container:hover {
  background-color: var(--hover-faded-aqua);
  transition: 0.3s ease-in-out;
}
.post-header {
  display: flex;
  justify-content: flex-start;
}
.avatar {
  margin-right: 1rem;
}
.user-details {
  margin-bottom: 1rem;
}
.user-details p {
  font-family: "Inter Tight", sans-serif;
}
.post-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.post-content {
  margin-bottom: 2rem;
  height: fit-content;
}
.post-photo {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
  border-radius: 0.5rem;
  object-fit: contain;
  object-position: center;
}
.reactions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.reactions > * {
  margin-right: 1rem;
}
.filled {
  color: rgb(249, 24, 128);
}
.likes {
  color: var(--dark_text);
}
.navlink {
  text-decoration: none;
  color: var(--dark_text);
}
/* -------------------------------------SIDEBAR-------------------------- */
.Sidemenu-component {
  width: 100%;
  min-width: 0.5rem;
  padding: 1.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Sidemenu-component > * {
  margin: 0.3rem 0;
}
.Sidemenu-component a {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--black);
}
.sv-logo {
  cursor: pointer;
}
.sv-logo img {
  width: 100px;
}
.link-box {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  min-width: 7rem;
  font-size: 1rem;
  color: var(--dark_text);
}
.link-box.active {
  color: black;
  font-weight: bold;
  font-size: 5rem;
}
.link-box .icon {
  margin-right: 1rem;
}
#search {
  display: none;
}
#add-icon {
  display: none;
}
/* ------------------------------------USERPROFILE-------------------------------- */
.Userprofile-component {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  overflow-y: scroll;
}
.Userprofile-component::-webkit-scrollbar {
  display: none;
}
.profile-top {
  padding: 1rem 2rem;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  border: 1px solid var(--border);
  z-index: 9999;
  -webkit-backdrop-filter: blur(100px);
  -o-backdrop-filter: blur(100px);
  -moz-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
}
.profile-top p {
  font-family: "Inter Tight", sans-serif;
  color: var(--dark_text);
}
.profile-top > * {
  margin-bottom: 1rem;
}
.profile-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-edit .right {
  display: flex;
  flex-direction: column;
}
.profile-top button {
  background-color: transparent;
  border: 1px solid var(--border);
  border-radius: 0.8rem;
  padding: 1rem 0.4rem;
}
.analytics {
  display: flex;
}
.analytics > * {
  margin-right: 1rem;
}
.analytics .title {
  margin-left: 0.4rem;
  opacity: 0.7;
}
.analytics .counts {
  color: black;
}
/* ------------------------------------LOGOUT-------------------------------- */
.logout-component {
  width: 80%;
  margin: 1rem auto;
}
/* ----------------------------------POST&COMMENTS---------------------------- */
.PostComments-component {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
}
.PostComments-component::-webkit-scrollbar {
  display: none;
}
.posts-comments {
  width: 100%;
  margin: 1rem auto;
}
/* ---------------------------------------------EDIT PROFILE------------------------------------ */
.EditProfile-component {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
}
.EditProfile-component::-webkit-scrollbar {
  display: none;
}
/* -----------------------------------------------CREATE COMMENT -------------------------------- */
.createcomment-box {
  margin: 1rem 0;
  width: 100%;
}
.createcomment-top {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.createcomment-textarea {
  margin-left: 2rem;
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.createcomment-top p {
  margin-left: 3rem;
}
.button-div {
  display: flex;
  justify-content: flex-end;
}
/* -------------------------------COMMENT REPLIES--------------------- */
.CommentReplies-component {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
}
.CommentReplies-component::-webkit-scrollbar {
  display: none;
}
.back {
  padding: 0.5rem 0;
  cursor: pointer;
}
/* -------------------------------------------EXTRA------------------------------- */
.Extra-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  overflow-y: scroll;
}
.Extra-component::-webkit-scrollbar {
  display: none;
}
.searchInputWrapper {
  margin: 1rem auto;
  width: 80%;
  position: relative;
}

.searchInput {
  width: 70%;
  height: 2rem;
  padding: 0 1rem;
  border-radius: 2rem;
  border: 1px solid var(--blue);
  background-color: var(--white_text);
  color: var(--dark_text);
}

::placeholder {
  color: var(--white_text);
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}

.searchInput:focus {
  outline: none;
  border-radius: 2rem;
  transform: scale(1.01);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  right: 0.8rem;
  top: 0.5rem;
  color: #a1a1a1;
  transition: all 0.1s ease-in-out;
}

.container:focus-within > .searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
  border-radius: 2rem;
}
.search-results {
  background-color: rgb(247, 249, 249);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 80%;
  margin: 1rem auto;
}
.searched-user {
  border-top: 1px solid var(--dark_text);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.2rem auto;
}
.search-results h1 {
  color: var(--black);
}
.suggested-accounts {
  background-color: var(--faded-aqua);
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  width: 80%;
  margin: 1rem auto;
}
.suggested-title {
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}
.suggested-user {
  border-top: 1px solid var(--dark_text);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem auto;
}
.suggested-user:hover {
  border-radius: 5px;
  background-color: var(--hover-faded-aqua);
}
.suggested-user-details {
  display: flex;
  justify-content: flex-start;
}
.suggested-user .follow-button {
  display: flex;
}
/* --------------------------------------------NOTIFICATIONS COMPONENT--------------------------------------- */
.Notification-component {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
}
.Notification-component::-webkit-scrollbar {
  display: none;
}
.notification-container {
}
/* media queries */
@media screen and (max-width: 1200px) {
  .sv-logo {
    margin: 0 2.7rem 1rem 0;
    width: 50px;
  }
  .link-box {
    margin: 0 auto;
  }
  .icon:hover {
    border-radius: 10px;
    background-color: var(--faded-aqua);
    transition: 0.1s;
  }
  .link-box.active {
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .navlink-word {
    display: none;
  }
  .Sidemenu-component {
    width: 4.2rem;
  }
}
@media screen and (max-width: 1000px) {
  .Home-component {
    display: grid;
    grid-template-areas:
      "side feed"
      "side feed";
    /* edit the size of the areas */
    grid-template-columns: 0.1fr 1fr;
    scroll-behavior: smooth;
  }
  .Sidemenu-component {
    grid-area: side;
    margin: 0;
    width: 4.2rem;
  }
  .Feed-component {
    grid-area: feed;
    margin: 0;
    width: 100%;
    background-color: var(--faded-aqua);
  }
  .Extra-component {
    display: none;
  }
  #search {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .Home-component {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    scroll-behavior: smooth;
    height: 100vh;
  }

  .Sidemenu-component {
    grid-row: 2;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    background-color: var(--white_text);
    z-index: 9999;
    grid-row: 2/3;
    width: 100%;
    padding: 0.5rem 0.3rem;
  }
  .Feed-component {
    width: 100%;
    grid-row: 1/2;
    height: fit-content;
    overflow-y: scroll;
  }
  .Userprofile-component {
    width: 100%;
    grid-row: 1/2;
    height: fit-content;
    overflow-y: scroll;
  }
  .link-box {
    padding: 0;
    min-width: 1px;
  }
  #add-icon {
    display: block;
    position: absolute;
    right: 1.5rem;
    bottom: 3rem;
    z-index: 9999;
  }
  .sv-logo {
    display: none;
  }
}
