<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2></h2>
    <h4>Dear <%= Name %>,</h4>
    <p>
        <%= text %>
    </p>
    <p>Welcome &#9829;</p>
    <p>SocialVerse Team</p>
</body>

</html>